html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    line-height: 2;
}

/* Globales */
h1, 
h2, 
h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 2rem 0;
}
h1 {
    font-size: 3.8rem;
}
@media (min-width: 768px) { 
    h1 {
        font-size: 5rem;
    }
}
h2 {
    font-size: 3.2rem;
}
@media (min-width: 768px) { 
    h2 {
        font-size: 4rem;
    }
}
h3 {
    font-size: 2.4rem;
}
@media (min-width: 768px) { 
    h3 {
        font-size: 3rem;
    }
}
a {
    text-decoration: none;
    color: #000;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
img {
    max-width: 100%;
    display: block;
}

.btn {
    background-color: #8cbc00;
    display: block;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out ;
    text-align: center;
    border: none;
    width: 100%;
}
.btn:hover {
    background-color: #769c02;
    cursor: pointer;
}

@media (min-width: 768px) { 
    .btn {
        width: auto;
    }
}
/**************************/
/******* Utilidades *******/
.text-center {
    text-align: center;
}
@media (min-width: 768px) { 
    .max-width-30 {
        max-width: 30rem;
    }
}
.linea {
    background: #7c95a3;
    height: .2rem;
    width: 100%;
    display: block;
    padding-top: 0rem;
}


/****************************************/
/***** Header y Navegacion Principal*****/
/****************************************/
.nombre-sitio {
    margin-top: 2rem;
    margin-bottom: 0rem;
    text-align: center;
}
.nombre-sitio span {
    color: #a2282a;
}
.contenedor-navegacion {
    width: 100%;
    background: #4e94ab;
    border-top: .2rem solid #e1e1e1;
}
.texto-logo {
    color: #FFF;
    font-size: 3.5rem;
    padding: 0 8rem;
    font-weight: bold;
    align-items: end;
}
.nav-principal {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btn-minimenu{
    display: none;
}
.contenedor-navegacion label {
    display: none;
    width: 5.2rem;
    height: 5.2rem;
    padding: 1rem;
    border-right: .1rem solid #fff;
}
.contenedor-navegacion label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, .3);
}
.btn-menu {
    background-color: #4e94ab;
    padding: .5rem;
    text-align: center;
    border: none;
    width: 100%;
}
.btn-menu a:hover, .active {
    display: block;
    color: #000;
    background-color: hwb(195 2% 25%);
    border-bottom-right-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: .4s;
}
.btn-menu a {
    color: #fff;
    font-size: 2.5rem;
}

@media (min-width: 770px) { 
    .nav-principal {
        justify-content: space-between;
        flex-direction: row;
    }
}
@media (max-width: 768px) { 
    .contenedor-navegacion label {
        display: block;
    }
    .nav-principal{
        position: absolute;
        padding-top: 0rem;
        margin-top: 0rem;
        width: 40%;
        margin-left: -40%;
        transition: all .6s;
    }
    .btn-menu {
        border-top: .1rem solid #fff;
    }
    #btn-minimenu:checked ~ .nav-principal {
        margin: 0;
    }
}

.logo img {
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
}

/********************************/
/******** Menu Secundario********/
/********************************/
.contenedor-nav {
    background: #4e94ab;
    height: 8rem;
    width: 100%;
    position:fixed;
    z-index: 99;
}

.enlace {
    position: absolute;
    padding: 2rem 5rem;
}
.logo-menu {
    height: 2.5rem;
}
@media (min-width: 768px) {
    .logo-menu {
        height: 4rem;
    }
}
.menu ul {
    float: right;
     margin-right: 2rem;
}
.menu ul li{
    display: inline-block;
    line-height: 8rem;
    margin: 0 .5rem;
}
.menu ul li a {
    color: #fff;
    font-size: 1.8rem;
    padding: .7rem 1.3rem;
    border-radius: .3rem;
    text-transform: uppercase;
}
li a.activo, li a:hover {
    background: rgba(0, 0, 0, .3);
    transition: .5s;
}
.checkbtn {
    font-size: 3rem;
    color: #fff;
    float: right;
    line-height: 8rem;
    margin-right: 4rem;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
@media (max-width: 768px) {
    .enlace {
        padding-left: 2rem;
    }
    .menu ul li a {
        font-size: 1.6rem;
    }
}

@media(max-width:768px) {
    .checkbtn {
        display: block;
    }
    .menu ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #005485;
        top: 6rem;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .menu ul li {
        display: block;
        margin: 5rem 0;
        line-height: 3rem;
    }
    .menu ul li a {
        font-size: 2rem;
    }
    .menu li a:hover, li a.activo {
        background: rgba(0, 0, 0, .3);
        color: #4e94ab;
    }
    #check:checked ~ .menu ul{
        left: 0;
    }
}

/*** Hero ***/
.hero {
    background-image: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 25rem;
}

@media (min-width: 768px) { 
    .hero {
        height: 55rem;
    }
}
/*************************************/
/************* Categorias ************/
/*************************************/
.categorias {
    padding: 2rem 0;
}
.categoria {
    margin-bottom: 1.5rem;
    background-color: #00fa9a;
    border-radius: 1rem;
}
@media (min-width: 768px) { 
    .categoria {
        margin-bottom: 0;
    }
}
.categoria img {
    width: 100%;
    height:75%;
}
.categoria p {
    text-align: center;
    height: 7rem;
    display: block;
    font-size: 2.5rem;
}
.categoria a:hover {
    background-color: #037bc0;
    color: #FFFFFF;
    border-radius: 2rem;
}
.busqueda {
font-size: 3rem;
float: right;
}
@media (min-width: 768px) { 
    .listado-categorias {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
    }
    
}

/** Bloque Nosotros */
.sobre-nosotros {
    background-image: linear-gradient( to bottom, transparent 50%, #037bc0 50%, #037bc0 60% ), url(../img/casallave.jpg);
    background-position: center, top left;
    background-repeat: no-repeat;
    background-size: 100%, 70rem;
    font-size: 2rem;
}

@media (min-width: 768px) { 
    .sobre-nosotros {
        background-image: linear-gradient( to right, transparent 50%, #037bc0 50%, #037bc0 100% ), url(../img/casallave.jpg);
        background-position: left center ;
        padding: 5rem 0;
        background-size: 100%, 160rem;
    }
}
.sobre-nosotros-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
@media (min-width: 768px) { 
    .sobre-nosotros-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        column-gap: 10rem;

    }
}
.texto-nosotros {
    grid-row: 2 / 3;
    color: #FFF;
    padding: 2rem;
}
@media (min-width: 768px) { 
    .texto-nosotros {
        grid-column: 2 / 3;
    }
}

/** Listado de Productos **/
.contenido-principal {
    padding-top: 5rem;
}
@media (min-width: 768px) { 
    .listado-productos {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;
    }
    .producto:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 7;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .producto:nth-child(1) img {
        height: 43rem;
        width: 100%;
        object-fit: cover;
    }
    .producto:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .producto:nth-child(2) img,
    .producto:nth-child(3) img {
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }
    .producto:nth-child(3) {
        grid-column-start: 4;
        grid-column-end: 7;
    }
    .producto:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .producto:nth-child(5) {
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .producto:nth-child(6) {
        grid-column-start: 5;
        grid-column-end: 7;
    }
}

.producto {
    background-color: #037bc0;
    margin-bottom: 2rem;
}
@media (min-width: 768px) { 
    .producto {
        margin-bottom: 0;
    }
}
.producto:last-of-type {
    margin-bottom: 0;
}

.texto-producto {
    text-align: center;
    color: #FFFFFF;
    padding: 2rem;
}
.texto-producto h3 {
    margin: 0;
}
.texto-producto p {
    margin: 0 0 .5rem 0;
}
.texto-producto .precio {
    font-size: 2.8rem;
    font-weight: 900;
}

/** Footer **/
.site-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}
.site-footer h3 {
    margin-bottom: .5rem;
    text-align: center;
}
@media (min-width: 778px) { 
    .site-footer h3 {
        text-align: left;
    }
    .grid-footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}

.grid-footer > div {
    margin-bottom: 2rem;
}
@media (min-width: 778px) { 
    .grid-footer > div {
        margin: 0;
    }
}

.footer-menu a {
    display: block;
    text-align: center;
}
@media (min-width: 770px) { 
    .footer-menu a {
        text-align: left;
    }
}

.copyright {
    margin-top: 5rem;
    text-align: center;
}

/** Nosotros **/

.informacion-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
}
@media (min-width: 770px) { 
    .informacion-nosotros {
        padding: 0;
        font-size: 2rem;
    }
    .contenido-nosotros {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-columns: repeat(auto-fit, minmax( 25rem, 1fr ) );
        column-gap: 4rem;
    }
}
/**************************************/
/**************** Blog ****************/
/**************************************/
@media (min-width: 768px) { 
    .contenedor-blog {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}
.entrada {
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
}
.entrada h2 {
    text-align: center;
}
@media (min-width: 768px) { 
    .entrada h2 {
        text-align: left;
    }
}
.contenido-blog {
    padding: 2rem;
}
.entrada:last-of-type {
    border: none;
}
@media (min-width: 768px) { 
    .entrada-meta {
        display: flex;
        justify-content: space-between;
    }
}

.entrada-meta p {
    font-weight: bold;
}
.entrada-meta span {
    color: #037bc0;
}
.contenido-entrada-blog {
    width: 60rem;
    margin: 0 auto;
}

/** Galeria **/
.galeria {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) { 
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
}

.galeria img {
    width: 100%;
    vertical-align: top;
    height: 30rem;
    object-fit: cover;
}
.titulo {
    padding-top: 10rem;
}
/************************************/
/********* Estilo del modal**********/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}
.modal:target {
    transform: scale(1);
}
.modal img {
    width: 75vw;
    max-height: 80vh;
    object-fit: cover;
}
.modal h2 {
    width: 100%;
    color: #fff;
    font-size: 3rem;
    text-align: center;
    margin: 1.5rem 0;
}

.imagen {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen a {
    color:#fff;
    font-size: 4rem;
    text-decoration: none;
    margin: 0 1rem;
}

.cerrar {
    display: block;
    background: #fff;
    width: 3.5rem;
    height: 3.5rem;
    margin: 1.5rem auto;
    text-align: center;
    text-decoration: none;
    font-size: 2.5rem;
    color: #000;
    padding: .5rem;
    border-radius: 50%;
    line-height: 2.5rem;
}
@media (min-width: 768px) { 
    .galeria {
        grid-template-columns: repeat(3, 1fr);
        padding: 3rem;
    }
    .light-box {
        padding: 3rem;
    }
    .light-box img {
        width: 90vw;
    }
}
@media screen and (max-width:40rem) {
    .galeria {
        grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
    }
    .cerrar{
        top: 2.5rem;
        right: 2.5rem;
    }
}

/* Formulario */
.formulario {
    max-width: 60rem;
    margin: 0 auto;
}
.formulario fieldset {
   border: 1px solid black;
   margin-bottom: 2rem;
}
.formulario legend {
    background-color: #005485;
    width: 100%;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    margin-bottom: 4rem;
}
.campo {
    display: flex;
    margin-bottom: 2rem;
}
.campo label {
    flex-basis: 10rem;
} 
.campo input:not([type="radio"]),
.campo textarea,
.campo select  {
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}

/*Catalogo*/
.container {
    display: grid;
    grid-template-columns: repeat(autofit,minmax(35rem, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 1rem;
    padding: 1rem 0;
    overflow: hidden;
}

.caja > a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 .6rem rgba(0, 0, 0, .5);
}
.caja img{
    width: 100%;
    vertical-align: top;
    height: 30rem;
    object-fit: cover;

}
.caja {
    margin: 1.5rem
}
.caja p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.caja a:hover img {
    filter: blur(.2rem);
}
/*****************************************/
/************ Combo categoria ************/
/*****************************************/
select {
    background-image: none;
    box-shadow: none;
    border: 1!important; /*border: 0!important*/
    background: #c8deeb;
    flex: 1;
    outline: 1;
    padding: 0 2rem;
    cursor: pointer;
    font-size: 2rem;
}
select::-ms-expand {
    display: none;
}
.select {
    position: absolute;
    display: flex;
    width: 20rem;
    height: 3rem;
    line-height:  3;
    border-radius: .3rem;
    overflow: hidden;
    cursor: pointer;
}
@media (min-width: 768px) {
    .select {
        position:absolute;
        display: flex;
        width: 40rem;
        height: 6rem;
        line-height:  3;
        border-radius: .3rem;
        overflow: hidden;
        cursor: pointer;
    }
}
.select::after {
    padding: 0 1rem;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: #23b499;
}
.select option {
    display: flex;
    align-items: center; 
    padding-right: 2rem;

}

.titulo-pro {
    display: grid;
    gap: .5rem;
    line-height: 1;
}
.contactos {
    display: flex;
    justify-content: end;
    margin: 1.5rem;
    gap: .5rem;
    background-color: #c6f3c0;
}
.titulo-pro P {
    padding: 0 5REM;
    font-size: 2rem;
    line-height: 1.5;
}
.wa {
    max-width: 100%;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 0;
}

/*** btn-contacto ***/
.btn-contactar {
    background-color: #fde400;
    display: block;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 800;
    padding: 2rem;
    transition: background-color .3s ease-out ;
    text-align: center;
    border: none;
    border-radius: 2rem;
    width: 100%;
}
.btn-contactar:hover {
    background-color: #9c8d02;
    cursor: pointer;
}

@media (min-width: 768px) { 
    .btn-contactar {
        width: auto;
    }
}

/*** formulario contactar ***/
.form-content {
    background: linear-gradient(
        50deg,
        rgba(40,42,55,1) 50%,
        rgba(40,42,55,0.7)
        ),
        url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 800px;
    /* border-radius: 25px; */
}

.form-content h2 {
    color: #f4f6f9;
    font-size: 3.5rem;
}
.form-content p {
    color: #f4f6f9;
    font-size: 20px;
}
form {
    display: flex;
    flex-direction: column;
    width: 60%;
}
label {
    font-size: 17px;
    color: #959AAB;
    margin-bottom: 10px;
}

input, textarea {
    padding: 17px 14px;
    background-color: #333646;
    border: 0;
    font-size: 15px;
    color: #f4F6F9;
    margin-bottom: 20px;
    border-radius: 10px;
}

:focus {
    outline: 1px solid #1E92E9;
}

.btn-f {
    background-color: #1E92E9;
    width: 150px;
    align-self: flex-end;
    cursor: pointer;
}

.btn-f:hover {
    background-color: #4294d3;
}

@media (max-width: 768px ) {
    body{
        line-height: 1.5;
    }
    
    .form-content {
        width: 100%;
    }
    form {
        width: 100%;
    }
    .form-content h2 {
        font-size: 22px;
    }
    .form-content p{
        font-size: 15px;
    }
    .campo-c {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .label {
        margin-bottom: 0rem;
    }
    .campo label {
        flex-basis: 0rem;
    }
    textarea, input {
        margin-bottom: 0rem;
    }
}

#modal::backdrop {
    background-color: rgba(0,0,0,.55);
}


dialog {
    margin: auto;
    border-style:initial;
    border-color: #1E92E9;
    border-radius: 2rem;
 }